= javascript_include_tag "https://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=places"
#map-canvas
.row

  .login-form
    %h3 create a new account
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .large-6.columns
        %div
          = f.label :email
          = f.email_field :email, autofocus: true
        %div
          = f.label :username
          = f.text_field :username
        %div
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        %div
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off"
      .large-6.columns
        %div
          = f.label :first_name
          = f.text_field :first_name
          = f.label :last_name
          = f.text_field :last_name

        %div
          =check_box_tag 'terms'
          %label
            I have read and agree to the
            =link_to "terms of service", pages_path("tos")
      %div{:style => "clear:both;text-align:center;padding-top: 10px;"}


        %div= f.submit "Sign up", :class => "button hidden"
        = render "devise/shared/links"


:javascript
  $(document).on('ready page:load', function(){

    initialize();
    $('#terms').change(function(){
        if(this.checked) {
          $('.hidden').show();
        }
        else {
          $('.hidden').hide();
        }
    });
  });


