.row{:style => "border: 1px solid gray; margin-bottom: 10px;"}
  .large-12.columns{:style => "padding: 0px;"}
    .listing[listing]
      .row
        .large-5.columns
          .feed-listing-image
            -if listing.images.size > 0
              =image_tag listing.images[0].pic.url(:medium)
            -else
              %img{:src => "http://placehold.it/400x300&text=[img]"}/
            .token-count
              2 tokens
        .large-7.columns

          .feed-listing-body

            =link_to listing_path(listing) do
              %h4=listing.title
            .feed-listing-meta
              %span=listing.city
            .listing-description
              =listing.description
            .author{:style => "display: none;"}
              %p
                posted by
                =link_to listing.user.username, user_path(listing.user)
                %button message #{listing.user.username}
            %h4
              $#{listing.price}
            =link_to listing_path(listing) do
              %button.small.lead-button{:style => "margin-top: 8px;"} get lead
      %hr
      .row
        .large-12.columns
          .feed-listing-number
            %label NOI
            %span
              $#{listing.noi}/m
          .feed-listing-number
            %label Size (SF)
            %span
              #{listing.units}
          .feed-listing-number
            %label Cap Rate
            %span
              #{listing.cap_rate}%
          .feed-listing-number
            %label ARV
            %span
              $#{listing.arv}