.row
  .large-12.columns{:style => "padding: 0px;"}
    .listing[listing]{:style => "border: 1px solid gray; margin: 8px 10px;"}
      .row
        .large-5.medium-6.small-12.columns
          .feed-listing-image
            -if listing.images.size > 0
              =image_tag listing.images[0].pic.url(:medium)
            -else
              %img{:src => "http://placehold.it/400x300&text=[avatar]"}/
            .token-count
              1 token
        .large-7.medium-6.small-12.columns

          .feed-listing-body

            =link_to listing_path(listing) do
              .feed-listing-title
                =listing.title
            .feed-listing-meta
              .city=listing.city
              .timestamp
                =time_ago_in_words(listing.created_at)
                ago

            .feed-listing-price
              #{number_to_currency(listing.price, :precision => 0)}
            -if user_signed_in? && current_user == listing.user
              =link_to edit_listing_path(listing) do
                %button edit
            -else
              =link_to listing_path(listing) do
                -if user_signed_in? && current_user.has_lead(listing.id)
                  %button.small.lead-button{:style => "margin-top: 8px;"} view lead
                -else
                  %button.small.lead-button{:style => "margin-top: 8px;"} get lead
      %hr
      .row
        .large-12.columns
          .feed-listing-number{:style=>"width: 22%;"}
            %label NOI
            %span
              #{number_to_currency(listing.noi, :precision => 0)}

          .feed-listing-number{:style=>"width: 22%;"}
            %label Cap Rate
            %span
              #{listing.cap_rate}%
          .feed-listing-number{:style=>"width: 22%;"}
            %label ARV
            %span
              #{number_to_currency(listing.arv, :precision => 0)}
          .feed-listing-number{:style=>"width: 25%;"}
            %label Status
            %span
              #{listing.status}