.meal[@meal]
  =render :partial => 'full_listing'






:javascript
  $(document).on('ready page:load', function(){
      $("#meal_dietary_list").tokenInput(
        "#{autocomplete_dietary_search_meals_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#meal_dietary_list").data("pre"),
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );
    $("#meal_cuisine_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_cuisine_list").data("pre"),
      }
    );
    $("#meal_location_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_location_list").data("pre"),
      }
    );
    $("#meal_env_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_env_list").data("pre"),
      }
    );

    $("#rsvp-checkbox").change(function() {
        if(this.checked) {
            $('#submit-rsvp').removeClass("disabled");
        }
        else {
          $('#submit-rsvp').addClass("disabled");
        }
    });

    $(".rsvp-count").bind('keyup mouseup', function () {
      var cost = "#{@meal.cost.to_i}";
      var total_credits = $('.take-out-count').val() * cost +  $('.dine-in-count').val() * cost;
      $('.total-credits').html("credits needed: " + total_credits);
    });

    $(".tag-suggestion a").click(function() {

      var tag_list_selector = "#meal_"+$(this).parent().attr("value")+"_list";
      $(tag_list_selector).tokenInput('add', {id: $(this).text(), name: $(this).text()});
      $(this).parent().remove();
      return false
    });
    $('#add-dish').on("click", function() {
      $('#new-dish').html("#{escape_javascript render :partial => 'dishes/new'}");
    });

  });
