%ul
  -@notifications.each do |notification|
    -case notification.notifier_type
      -when 'Comment'
        %li="#{User.find(notification.sender_id).name} commented on your response to #{Meal.find(Comment.find(notification.notifier_id).commentable_id).title}"
    -case notification.notifier_type
      -when 'Flag'
        %li="Uh oh, you were flagged for your conduct during #{Meal.find(Flag.find(notification.notifier_id).meal_id).title} for violating #{Term.find(Flag.find(notification.notifier_id).abused_term).title}"
    -case notification.notifier_type
      -when 'Meal'
        -if notification.notifier_action == "cancel"
          %li="A meal you RSVPed to has been cancelled"
        -elsif notification.notifier_action == "upcoming"
          %li="Your meal #{Meal.find(notification.notifier_id).title} is happening soon, get ready!"
        -else
          %li="A meal you RSVPed to has been updated: #{Meal.find(notification.notifier_id).title}"
    -case notification.notifier_type
      -when 'Transfer'
        %li="Yay!  You were transferred credits from #{User.find(Transfer.find(notification.notifier_id).sender_id).username} for your recent meal"
    -case notification.notifier_type
      -when 'Rsvp'
        %li="A meal you RSVPed to is happening tomorrow"