#add-email.container
  %h4 Make some matches
  = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
    - if @show_errors && current_user.errors.any?
      #error_explanation
        - current_user.errors.full_messages.each do |msg|
          = msg
          %br
    .form-group
      %label what kind(s) of dealmaker are you?
      =f.text_field :dealmaker_list, :data => {:pre => @user.dealmaker_list.collect{|tag| {:id => tag, :name => tag}}}
      .large-12.columns
        -@dealmaker_tags.each do |t|
          .tag-suggestion{:value => "dealmaker"}
            %a= t
      %label what kind(s) of dealmakers do you want to connect with?
      =f.text_field :dealmaker_match_list, :data => {:pre => @user.dealmaker_match_list.collect{|tag| {:id => tag, :name => tag}}}
      .large-12.columns
        - @dealmaker_match_tags.each do |t|
          .tag-suggestion{:value => "dealmaker_match"}
            %a= t
    .actions
      = f.submit 'Continue', :class => 'btn btn-primary'


:javascript
  $(document).on('ready page:load', function(){
      $("#user_dealmaker_list").tokenInput(
        "#{autocomplete_dealmaker_search_users_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#user_dealmaker_list").data("pre"),
          allowFreeTagging: true,
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );
      $("#user_dealmaker_match_list").tokenInput(
        "#{autocomplete_dealmaker_match_search_users_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#user_dealmaker_match_list").data("pre"),
          allowFreeTagging: true,
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );

    $(".tag-suggestion a").click(function() {
      var tag_list_selector = "#user_"+$(this).parent().attr("value")+"_list";
      $(tag_list_selector).tokenInput('add', {id: $(this).text(), name: $(this).text()});
      $(this).parent().remove();
      return false
    });
  });
