#user
  =@user.username
  (#{@user.first_name} #{@user.last_name})
  %h4 about
  =@user.about
  %hr
  .row
    .large-6.columns
      %h3 upcoming meals
      -@user.meals.future.each do |meal|
        =render meal
    .large-6.columns
      %h3 previous meals
      -@user.meals.past.each do |meal|
        =render meal

  =link_to "xfer credits", "#", :"data-reveal-id"=>"transfer-credits"

  -if current_user == @user
    =link_to "edit profile", edit_user_path(@user)

    #transfer-credits.reveal-modal{"data-reveal" => ""}
      %h4 Transfer credits to another user
      %p Just enter the amount you'd like to transfer then click "Send Credits"
      =form_tag transfer_credits_users_path, :method=>:post, :remote=>:true do
        =text_field_tag :user_id, nil, {:id => "user-autocomplete"}
        =number_field_tag :credits, 1, in: 1..100
        =submit_tag "Send Credits", :class => "button"

  -unless current_user == @user
    =link_to user_blacklists_path(@user), :method=>:post, :remote=>:true do
      .blacklist
        -if @user.blacklists.map(&:blacklisted_user_id).include?(current_user.id)
          remove blacklist
        -else
          blacklist
    -@subscription = current_user.subscriptions.where(:subscription_id => @user.id).first
    -if @subscription.present?
      =render :partial => 'subscriptions/unfollow_user', :locals => {user:@user}
    -else
      =render :partial => 'subscriptions/follow_user', :locals => {user:@user}
    =link_to "#", :id => "message-button" do
      button.small message #{@user.name}


    #transfer-credits.reveal-modal{"data-reveal" => ""}
      %h4 Transfer credits to #{@user.username}
      %p Just enter the amount you'd like to transfer then click "Send Credits"
      =form_tag transfer_credits_users_path, :method=>:post, :remote=>:true do
        =hidden_field_tag :user_id, @user.id
        =number_field_tag :credits, 1, in: 1..100
        =submit_tag "Send Credits", :class => "button"

  %a.close-reveal-modal ×


:javascript
  $(document).on('ready page:load', function(){
    $("#user-autocomplete").tokenInput(
      "#{autocomplete_users_path}", {
        preventDuplicates:"true",
        minChars: 2,
        theme: "facebook"
      }
    );
  });