.row
  .large-12.columns
    .meal-header
      %i.fi-star
      %h3=@meal.title
      -if @meal.future
        #rsvp[@meal]
          -if current_user.rsvps.where(:meal_id=>@meal.id).present?
            =link_to meal_rsvp_path(@meal.id, 0), :remote => :true, :method=>:delete do
              %button.rsvp cancel rsvp
          -else
            -if @meal.rsvps_count < @meal.dine_in_count
              =link_to "#", :"data-reveal-id"=>"rsvp-form" do
                %button rsvp
        -if current_user.watches.where(:meal_id=>@meal.id).present?
          =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
            %button.watch unwatch
        -else
          =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
            %button.watch watch
    .meal-meta
      -if @meal.future
        .rsvp-info
          =render :partial => 'meals/rsvp_info'
        .meal-time
          =@meal.start_time.strftime("%m/%d")
          =@meal.start_time.strftime("%l:%M %P")
      -else
        this meal has already happened

.row
  .large-7.columns
    .meal-body
      %p=@meal.description

      =render :partial => 'tags'


  .large-5.columns
    .panel{:style=>"margin-top: 10px; background-color:#E0E5D3;"}
      -if @meal.dishes.present?
        #dishes
          %h5 dishes
          = render @meal.dishes
.row
  .large-7.columns.left
    %h5 Comments
    .comments
      = render :partial => 'comments/comment', :collection => @comments, :as => :comment
    = render :partial => 'comments/form', :locals => { :comment => @new_comment }

#rsvp-form.reveal-modal{"data-reveal" => ""}
  %h3 rsvp for #{@meal.title}
  -Term.all.each do |t|
    .term-title=t.title
    .term-description=t.description
  %p #{@meal.cost} credits per rsvp
  =form_for :rsvp, :url => meal_rsvps_path(@meal.id), :method=>:post, :remote=>:true do |f|
    =f.hidden_field :meal_id, :value => @meal.id

    %label how many rsvps
    dine in:
    =f.number_field :dine_in_count, :value => 0, :min => 0, :max => @meal.dine_in_count - @meal.rsvps.dine_in.sum(:num), :class => "rsvp-count dine-in-count"
    take out:
    =f.number_field :take_out_count, :value => 0, :min => 0, :max => @meal.take_out_count - @meal.rsvps.take_out.sum(:num), :class => "rsvp-count take-out-count"

    .total-credits credits needed: 0
    .credits-avail credits available: #{current_user.credits}
    %br
    =check_box_tag 'rsvp-checkbox', '', false
    agree to terms and conditions
    %br
    =f.submit "rsvp", :class => "button disabled", :id =>"submit-rsvp"