.row
  .large-8.columns
    .meal[@meal]
      %h3=@meal.title
      -if @meal.user == current_user
        =link_to edit_meal_path(@meal) do
          %button edit
        -if @new_item == true
          #tag-form.reveal-modal{"data-reveal" => ""}
            %a.close-reveal-modal ×
            =form_for @meal do |f|
              .row
                .tag-category
                  %h4 dietary tags
                  %p does your meal mostly or entirely meet any dietary labels?
                .large-7.columns
                  -@dietary_tags.each do |t|
                    .tag-suggestion{:value => "dietary"}
                      %a= t
                .large-5.columns
                  =f.text_field :dietary_list, :data => {:pre => @meal.dietary_list.collect{|tag| {:id => tag, :name => tag}}}
              .row{:style=>"margin-top:15px;"}
                .tag-category
                  %h4 cuisine tags
                  %p does your meal fit into any of the suggested culinary categories?
                .large-7.columns
                  -@cuisine_tags.each do |t|
                    .tag-suggestion{:value => "cuisine"}
                      %a= t
                .large-5.columns
                  =f.text_field :cuisine_list, :data => {:pre => @meal.cuisine_list.collect{|tag| {:id => tag, :name => tag}}}
              .row{:style=>"margin-top:15px;"}
                .tag-category
                  %h4 environmental tags
                  %p describe your environment
                .large-7.columns
                  -@env_tags.each do |t|
                    .tag-suggestion{:value => "env"}
                      %a= t
                .large-5.columns
                  =f.text_field :env_list, :data => {:pre => @meal.env_list.collect{|tag| {:id => tag, :name => tag}}}
              .row{:style=>"margin-top:15px;"}
                .tag-category
                  %h4 locations
                  %p what neighborhood/town is the meal in?
                .large-7.columns
                  -@location_tags.each do |t|
                    .tag-suggestion{:value => "location"}
                      %a= t
                .large-5.columns
                  =f.text_field :location_list, :data => {:pre => @meal.location_list.collect{|tag| {:id => tag, :name => tag}}}
              %div{:style=>"text-align: center"}
                =f.submit "add tags", :class => "button large"
          :javascript
            $("#tag-form").foundation("reveal","open")
      -else
        #rsvp[@meal]
          -if current_user.rsvps.where(:meal_id=>@meal.id).present?
            =link_to meal_rsvp_path(@meal.id, 0), :remote => :true, :method=>:delete do
              %button.rsvp cancel rsvp
          -else
            -if @meal.rsvps_count < @meal.dine_in_count
              =link_to "#", :"data-reveal-id"=>"rsvp-form" do
                %button rsvp
        -if current_user.watches.where(:meal_id=>@meal.id).present?
          =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
            %button.watch unwatch
        -else
          =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
            %button.watch watch
        #rsvp-form.reveal-modal{"data-reveal" => ""}
          %h3 rsvp for #{@meal.title}
          =form_for :rsvp, :url => meal_rsvps_path(@meal.id), :method=>:post, :remote=>:true do |f|
            =f.hidden_field :meal_id, :value => @meal.id
            %p #{@meal.cost} credits per rsvp
            %label how many rsvps
            dine in:
            =f.number_field :dine_in_count, :value => 1, :min => 0, :max => @meal.dine_in_count - @meal.rsvps.dine_in.sum(:num)
            take out:
            =f.number_field :take_out_count, :value => 0, :min => 0, :max => @meal.take_out_count - @meal.rsvps.take_out.sum(:num)
            %br
            =f.submit "rsvp", :class => "button"
      .message
      %p=@meal.description
      -if @meal.dishes.present?
        #dishes.panel
          %h4 dishes
          = render @meal.dishes
          -if @meal.user == current_user
            #new-dish
            %button#add-dish add dish
      =render :partial => 'tags'
      %h4 Comments
      .comments
        = render :partial => 'comments/comment', :collection => @comments, :as => :comment
      = render :partial => 'comments/form', :locals => { :comment => @new_comment }
  .large-4.columns
    .panel
      %h4 dinner info
      time
      =@meal.start_time.strftime("%H:%M")
      date
      =@meal.start_time.strftime("%m/%d")
      credits
      =@meal.cost
      .rsvp-info
        =render :partial => 'meals/rsvp_info'

    -if current_user == @meal.user
      %h3 attending
      =render @meal.rsvps


:javascript
  $(document).on('ready page:load', function(){
      $("#meal_dietary_list").tokenInput(
        "#{autocomplete_dietary_search_meals_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#meal_dietary_list").data("pre"),
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );
    $("#meal_cuisine_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_cuisine_list").data("pre"),
      }
    );
    $("#meal_location_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_location_list").data("pre"),
      }
    );
    $("#meal_env_list").tokenInput(
      "#{autocomplete_dietary_search_meals_path}", {
        preventDuplicates:"true",
        theme: "facebook",
        prePopulate: $("#meal_env_list").data("pre"),
      }
    );

    $(".tag-suggestion a").click(function() {

      var tag_list_selector = "#meal_"+$(this).parent().attr("value")+"_list";
      $(tag_list_selector).tokenInput('add', {id: $(this).text(), name: $(this).text()});
      $(this).parent().remove();
      return false
    });
    $('#add-dish').on("click", function() {
      $('#new-dish').html("#{escape_javascript render :partial => 'dishes/new'}");
    });

  });
