!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    =render :partial => 'layouts/head'
    #content
      = yield
    #buy-token-form.reveal-modal{"data-reveal" => ""}
      %h4 hmm, looks like you don't have any tokens
      %p.message you'll need some to buy a lead.  fortunately, they are only $1 each!
      %label how many do you want?
      %input{:value => 10, :type => "number", :min => 10}
      %button#buy-tokens buy tokens
    #checkout-form
      = form_tag charges_path, id: 'chargeForm' do
        %script{:src => "https://checkout.stripe.com/checkout.js"}
        = hidden_field_tag 'stripeToken'
        = hidden_field_tag 'stripeEmail'
        = hidden_field_tag 'stripeCharge'
        = hidden_field_tag 'tokenCount'
        = hidden_field_tag 'stripeSession'
-if user_signed_in?
  :javascript

    var total_cost = 0;
    var cost = 0;
    var key = '#{j Rails.configuration.stripe[:publishable_key]}';
    var handler = StripeCheckout.configure({
    key: key,
    token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("stripeCharge").value = cost;
          document.getElementById("chargeForm").submit();
        }
    });
    $('#buy-tokens').on('click', function(e) {

      total_cost = parseInt($(this).prev('input').val());
      cost = total_cost*100;
      document.getElementById("tokenCount").value = total_cost;
      handler.open({
        name: 'Any Size Deal',
        description: 'Tokens',
        amount: cost,
        shippingAddress: false
      });

      e.preventDefault();
    });

