!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    =render :partial => 'layouts/head'
    #content
      = yield
    #buy-token-form.reveal-modal{"data-reveal" => ""}
      %h4 hmm, looks like you don't have any tokens
      %p you'll need some to buy a lead.  fortunately, they are only $1 each!
      %label how many do you want?
      %input{:value => 10, :type => "number", :min => 10}
      %button#buy-tokens buy tokens
-if user_signed_in?
  :javascript
    $('#buy-tokens').on('click', function() {
      console.log(this.value);
      var data = {
        token_count: parseInt($(this).prev('input').val()),
      }
      $.post('#{buy_tokens_user_path(current_user)}',data);
    });
