!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title AnySizeDeals.com

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    =render :partial => 'layouts/head'
    #content
      = yield
    #buy-token-form.reveal-modal{"data-reveal" => ""}
      %h4 Hmm, looks like you don't have any tokens
      %p.message You'll need some to buy a lead.  Fortunately, they are only $1 each!
      %label How many do you want?
      %input{:value => 10, :type => "number", :min => 10}
      %button#buy-tokens buy tokens
    #checkout-form
      = form_tag charges_path, id: 'chargeForm' do
        %script{:src => "https://checkout.stripe.com/checkout.js"}
        = hidden_field_tag 'stripeToken'
        = hidden_field_tag 'stripeEmail'
        = hidden_field_tag 'stripeCharge'
        = hidden_field_tag 'tokenCount'
        = hidden_field_tag 'stripeSession'


-if user_signed_in?
  #message-user.reveal-modal{"data-reveal" => ""}
    .modal
      .modal-heading
        =link_to "x", "#close", :class => "close"
        %h3 message user
      .modal-body
        =form_for :offer, :url => conversations_path, :html => {:id => "message-form"} do |f|
          = f.text_area :text, :id => 'text', :name => 'text', :class => 'message-form',:placeholder => "say something PRIVATELY to this user"
          =hidden_field_tag :user_id
          .modal_button
          = f.submit 'Send Message', :class => "button"
  :javascript

    var total_cost = 0;
    var cost = 0;
    var key = '#{j Rails.configuration.stripe[:publishable_key]}';
    var handler = StripeCheckout.configure({
    key: key,
    token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("stripeCharge").value = cost;
          document.getElementById("chargeForm").submit();
        }
    });
    $('#buy-tokens').on('click', function(e) {

      total_cost = parseInt($(this).prev('input').val());
      cost = total_cost*100;
      document.getElementById("tokenCount").value = total_cost;
      handler.open({
        name: 'Any Size Deal',
        description: 'Tokens',
        amount: cost,
        shippingAddress: false
      });

      e.preventDefault();
    });

